.main {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "navbar main";
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
}

.header {
    display: none;
    height: var(--header-height);
    width: 100%;
    align-items: center;
}

.header button{
    border-radius: 50%;
    background: rgb(0,0,0,.1);
    padding: .25rem;
}

.header button i{
    width: 2rem;
    height: 2rem;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .header{
        display: flex;
    }
}